body{
    background-color: rgb(0, 153, 117);
}

header{
    background-color: rgb(0, 153, 117);
    padding: 30px;
}

img{
    margin: 20px;
}

.formatoFuemte{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
    font-weight: bolder;
}

.fondoCrear{
    background-color: rgb(238, 237, 233);
    height: 500;
    padding: 20px;
    border-radius: 5px;
}

.centrarBotones{
    text-align: center;
}

.botonCancelar{
    margin-right: 50px;
}

.botonConfirmar{
    margin-left: 50px;
}

.botonFormato{
    border-radius: 5px;
    border-color: green;
    font-size: large;
    background-color: rgb(71, 216, 182);
    color: white;
    font-weight: bold;
}